$purple-deep: #2E073F;
$purple: #7A1CAC;
$purple-light: #AD49E1;
$purple-white: #EBD3F8;
$secondary-btn: rgba(255, 255, 255, 0.548);

@mixin flexCol($justify: center, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}
@mixin flexRow($justify: center, $align: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}