$purple-deep: #2E073F;
$purple: #7A1CAC;
$purple-light: #AD49E1;
$purple-white: #EBD3F8;

@mixin flexCol($justify: center, $align: center) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin flexRow($justify: center, $align: center) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}